/// PARTIALS
@import "./01_Partials/01-reset";
@import "./01_Partials/02-varibales";
@import "./01_Partials/03-mixins";

/// MODULES
@import "./02_modules/01_header";
@import "./02_modules/02_Section1";
@import "./02_modules/03-ourClient";
@import "./02_modules/04-section-help";
@import "./02_modules/05_video";
@import "./02_modules/06-middle-little";
@import "./02_modules/07-teams";
@import "./02_modules/08_newsletter";
@import "./02_modules/09-footer";


body {
    @media screen and (min-width: 320px) and (max-width: 1279px) {
        width: 100vw !important;
        overflow-x: hidden;
    }
        width: 100vw;
    }
