// .help::before {
//   @media screen and (min-width: 320px) and (max-width: 1279px){
//     overflow-x: hidden;
//       }
//   content: "";
//   position: absolute;
//   background-image: url("../../DOM_06_Final_Exercices/images/section-help/Rectangle1.png");
//   background-repeat: no-repeat;
//   background-position: right center;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   @media screen and (min-width: 3440px) {
//     background-size: 2040px 850px;
//   }
//   @media screen and (min-width: 1920px) and (max-width: 3439px) {
//     background-size: 1270px 630px;
//   }
//   @media screen and (min-width: 1023px) and (max-width: 1279px) {
//     background-size: 838px 454px;
//     right: -68px;
//   }
//   @media screen and (min-width: 768px) and (max-width: 1023px) {
//     background-size: 838px 454px;
//     right: -200px;
//   }
//   @media screen and (min-width: 1024px) and (max-width: 1279px) {
//     background-size: 838px 535px;
//     right: -165px;
//   }
//   @media screen and (min-width: 320px) and (max-width: 767px) {
//     background-size: 838px 535px;
//     right: -165px;
//   }
// }
.help {
  @media screen and (min-width: 320px) and (max-width: 1279px){
    overflow-x: hidden;
      }
  margin-right: 0 !important;
  max-width: 100vw !important;
  @include container;
  margin-bottom: 146px;
  position: relative;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    grid-template-rows: 150px 900px;
    row-gap: 150px;
    margin-bottom: 90px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .display-help {
    position: relative;
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 320px) and (max-width: 767px) {
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      flex-direction: row;
      align-items: center;
      grid-column: 2/-2;
      grid-row: 1/1;
      height: 150px;
    }
    .left-help {
      position: absolute;
      grid-column: 2/6;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: 320px) and (max-width: 767px) {
        position: relative;
      }
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        text-align: center;
      }
      .shape {
        position: absolute;
        z-index: -2;
        top: 296px;
        left: 87px;
      }
      .text-left {
        @media screen and (min-width: 320px) and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          margin-bottom: 60px;
        }
        .title-help {
          font-family: $font;
          font-size: 40px;
          color: $black;
          padding-bottom: 30px;
          span {
            color: $Blue;
          }
          @media screen and (min-width: 768px) and (max-width: 1279px) {
            font-size: 30px;
          }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 300px;
            font-size: 30px;
            text-align: center;
          }
        }
        .text-help {
          font-family: $font;
          color: $grayText;
          font-size: 16px;
          @media screen and (min-width: 768px) and (max-width: 1279px) {
            width: 450px;
          }
          @media screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 13px;
            width: 250px;
            text-align: center;
          }
        }
      }
      .text-left::before {
        content: "";
        position: absolute;
        top: -60px;
        left: -34px;
        background-image: url("../../DOM_06_Final_Exercices/images/section-help/Rectangle25.png");
        background-repeat: no-repeat;
        background-position: left;
        width: 178px;
        height: 178px;
        z-index: -1;
        @media screen and (min-width: 768px) and (max-width: 1279px) {
          background-size: 70%;
          top: -90px;
          left: -15px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
          background-size: 70%;
          top: -82px;
          left: 19px;
        }
      }
    }
  }
  .display-help::before {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 212px;
    background-image: url("../../DOM_06_Final_Exercices/images/section-help/Dot.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 196px;
    height: 154px;
    z-index: -1;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      left: 357px;
      bottom: -50px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      left: 473px;
      bottom: -50px;
    }
    @media screen and (min-width: 320px) and (max-width: 430px) {
      background-size: 65%;
      bottom: 0px;
      left: 221px;
    }
  }
  .display-help::after {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 0px;
    background-image: url("../../DOM_06_Final_Exercices/images/section-help/Dot.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 196px;
    height: 154px;
    z-index: -1;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      left: 143px;
      bottom: -50px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      left: 261px;
      bottom: -50px;
    }
    @media screen and (min-width: 320px) and (max-width: 430px) {
      background-size: 65%;
      bottom: 0px;
      left: 84px;
    }
  }

  .right-help-left {
    margin-top: 80px;
    grid-column: 7/10;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      position: absolute;
      top: 280px;
      grid-column: 3/8;
      margin-top: 40px;
      left: -30px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      position: absolute;
      top: 280px;
      grid-column: 3/8;
      margin-top: 40px;
      left: 58px;
    }
    .contain-flex-card-up {
      display: flex;
      align-items: center;
      grid-column: 1/1;
      grid-row: 1/1;
      .card-left-high {
        width: 308px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        padding: 40px 31px 57px;
        border: 1px solid #f2f2f2;
        background-color: $white;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
        .imageBg-left-high {
          background-color: #f1f7ff;
          border-radius: 20px;
          padding: 23px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        h2 {
          text-align: center;
          font-size: 24px;
          color: $black;
          font-family: $font;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          font-size: 16px;
          font-family: $font;
          color: $grayText2;
          line-height: 140%;
        }
      }
    }
    .contain-flex-card-down {
      display: flex;
      align-items: center;
      grid-column: 1/1;
      grid-row: 2/2;
      .card-left-high {
        width: 308px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        padding: 40px 31px 57px;
        border: 1px solid #f2f2f2;
        background-color: $white;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
        .imageBg-left-high {
          background-color: #fff2f8;
          border-radius: 20px;
          padding: 23px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        h2 {
          text-align: center;
          font-size: 24px;
          color: $black;
          font-family: $font;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          font-size: 16px;
          font-family: $font;
          color: $grayText2;
          line-height: 140%;
        }
      }
    }
  }
  .right-help-right {
    margin-left: 40px;
    grid-column: 10/14;
    display: grid;
    grid-template-columns: 309px;
    grid-template-rows: 387px 387px;
    row-gap: 30px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-left: 0px;
      margin-top: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      position: absolute;
      top: 260px;
      grid-column: 8/-2;
      margin-left: 20px;
    }
    .cercle {
      position: absolute;
      z-index: -2;
      right: 126px;
      bottom: 44px;
      @media screen and (min-width: 3440px) {
        right: 1055px;
        bottom: -55px;
      }
      @media screen and (min-width: 1920px) and (max-width: 3439px) {
        right: 340px;
        bottom: 40px;
      }
      @media screen and (min-width: 320px) and (max-width: 768px) {
        right: 40px;
        bottom: -40px;
      }
      @media screen and (min-width: 769px) and (max-width: 1279px) {
        right: 40px;
        bottom: -40px;
      }
      @media screen and (min-width: 390px) and (max-width: 431px) {
        right: 90px;
      }
    }
    .contain-flex-card-up {
      display: flex;
      align-items: start;
      justify-content: center;
      grid-column: 1/1;
      grid-row: 1/1;
      .card-left-high {
        width: 308px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 40px;
        padding: 40px 31px 57px;
        border: 1px solid #f2f2f2;
        background-color: $white;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
        .imageBg-left-high {
          background-color: #fff7e3;
          border-radius: 20px;
          padding: 23px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        h2 {
          text-align: center;
          font-size: 24px;
          color: $black;
          font-family: $font;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          font-size: 16px;
          font-family: $font;
          color: $grayText2;
          line-height: 140%;
        }
      }
    }
    .contain-flex-card-down {
      display: flex;
      align-items: start;
      justify-content: center;
      grid-column: 1/1;
      grid-row: 2/2;
      .card-left-high {
        width: 308px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        padding: 40px 31px 57px;
        border: 1px solid #f2f2f2;
        background-color: $white;
        box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
        .imageBg-left-high {
          background-color: #deffee;
          border-radius: 20px;
          padding: 23px;
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
        h2 {
          text-align: center;
          font-size: 24px;
          color: $black;
          font-family: $font;
          padding-bottom: 27px;
        }
        p {
          text-align: center;
          font-size: 16px;
          font-family: $font;
          color: $grayText2;
          line-height: 140%;
        }
      }
    }
  }
}
