.client-photos {
  @media screen and (min-width: 320px) and (max-width: 1279px){
    overflow-x: hidden;
      }
  @include container;
  position: relative;
  padding-bottom: 150px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;
  }
  .display {
    position: relative;
    z-index: 2;
    grid-column: 2/-5 !important;
    display: flex;
    align-items: center;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
    .ellipse {
      position: absolute;
      z-index: 1;
      width: 120px;
      height: 120px;
      top: 268px;
      img {
        width: 100%;
      }
    }
    .shadow {
      position: absolute;
      z-index: 1;
      border-radius: 500px 0px 500px 500px !important;
      background-color: rgba(0, 0, 0, 0);
      width: 400px;
      height: 400px;
      top: 0;
      left: 0px;
      box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.293);
      @media screen and (min-width: 320px) and (max-width: 767px) {
        border-radius: 600px 0px 600px 600px !important;
        width: 250px;
        height: 250px;
        top: 73px;
        left: 73px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        top: 0;
        left: 32px;
      }
    }
  }
  .display::before {
    position: absolute;
    content: "";
    background-image: url("../../DOM_06_Final_Exercices/images/section-teams/Dot.png");
    background-repeat: no-repeat;
    background-position: top right;
    width: 196px;
    height: 154px;
    top: -33px;
    left: 240px;
    @media screen and (min-width: 321px) and (max-width: 767px) {
      top: 40px;
      left: 166px;
    }
    @media screen and (max-width: 320px) {
      top: 40px;
      left: 145px;
    }
  }
}
.bullePhotos {
  @media screen and (min-width: 320px) and (max-width: 1279px){
    overflow-x: hidden;
      }
  position: absolute;
  grid-column: 11/-1;
  left: 26px;
  @media screen and (min-width: 768px) and (max-width: 809px) {
    position: none;
    margin-top: 740px;
    display: block;
    justify-content: center;
    align-items: center;
    left: 250px;
  }
  @media screen and (min-width: 810px) and (max-width: 834px) {
    position: none;
    margin-top: 740px;
    display: block;
    justify-content: center;
    align-items: center;
    left: 270px;
  }
  @media screen and (min-width: 835px) and (max-width: 1279px) {
    position: none;
    margin-top: 740px;
    display: block;
    justify-content: center;
    align-items: center;
    left: 375px;
  }
  @media screen and (max-width: 320px) {
    position: none;
    margin-top: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    height: 378px;
    width: 300px;
  }
  @media screen and (min-width: 375px) and (max-width: 389px) {
    left: 52.5px;
    top: 770px;
  }
  @media screen and (min-width: 390px) and (max-width: 411px) {
    left: 60px;
    top: 770px;
  }
  @media screen and (min-width: 412px) and (max-width: 429px) {
    left: 71px;
    bottom: 100px;
  }
  @media screen and (min-width: 430px) and (max-width: 767px) {
    left: 80px;
    bottom: 100px;
  }

  .bulleC1 {
    position: absolute;
    left: -30px;
    top: 60px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 320px) {
      left: 0px;
    }
    .photos1 {
      width: 98px;
      height: 98px;
      flex-shrink: 0;
      img {
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .photos2 {
      width: 68px;
      height: 68px;
      flex-shrink: 0;
      img {
        margin-top: 50px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
  .bulleC2 {
    position: absolute;
    left: -30px;
    top: 0px;
    display: flex;
    flex-direction: column;
    .photos1 {
      width: 68px;
      height: 68px;
      flex-shrink: 0;
      margin-left: 138px;
      img {
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .photos2 {
      width: 120px;
      height: 120px;
      flex-shrink: 0;
      margin-left: 117px;
      img {
        margin-top: 50px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .photos3 {
      width: 98px;
      height: 98px;
      flex-shrink: 0;
      margin-left: 97px;

      img {
        margin-top: 80px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
  .bulleC3 {
    position: absolute;
    left: -30px;
    top: 0px;
    display: flex;
    flex-direction: column;
    .photos1 {
      width: 54px;
      height: 54px;
      flex-shrink: 0;
      margin-left: 250px;
      margin-top: 60px;
      img {
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .photos2 {
      width: 54px;
      height: 54px;
      flex-shrink: 0;
      margin-left: 276px;
      margin-top: 0px;
      img {
        margin-top: 50px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
    .photos3 {
      width: 68px;
      height: 68px;
      flex-shrink: 0;
      margin-left: 230px;

      img {
        margin-top: 80px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 100%;
      }
    }
  }
}
.bullePhotos::before {
  @media screen and (min-width: 320px) and (max-width: 1279px){
    overflow-x: hidden;
      }
  position: absolute;
  content: "";
  background-image: url("../../DOM_06_Final_Exercices/images/section-teams/rond.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 184px;
  height: 184px;
  top: 118px;
}

.mySwiperPhotos {
  @media screen and (min-width: 320px) and (max-width: 1279px){
    overflow-x: hidden;
      }
  margin-right: 65px !important;
  gap: 0 !important;
  margin-left: 0 !important;
  display: flex;
  grid-column: 2/6 !important;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 300px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .swiper-slide {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .photo {
    margin: 0 !important;
    img {
      border-radius: 500px 0px 500px 500px !important;
      object-fit: cover;
      @media screen and (min-width: 320px) and (max-width: 767px) {
        border-radius: 600px 0px 600px 600px !important;
        width: 250px;
        height: 250px;
      }
    }
  }
}

.swiper {
  margin: 0 !important;
  position: absolute;
  grid-column: 7/11;
  width: 400px;
  height: 400px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.mySwiperText {
  margin: 0 0 0 65px !important;
  height: 215px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 300px;
    height: 270px;
    margin-left: 0 !important;
  }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .swiper-slide {
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      margin-top: 30px !important;
    }
    font-size: 18px;
    background: #ffffff00;
    display: flex;
    flex-direction: column;
    .char {
      .name {
        font-size: 24px;
        font-family: $font;
        color: $black;
        padding-bottom: 20px;
        span {
          color: #2639ed;
        }
      }
      .opinion {
        font-size: 16px;
        color: $grayText;
        font-family: $font;
        line-height: 160%;
        margin-bottom: 40px;
      }
    }
  }
}
.swiper-pagination {
  margin: 0 25px 0 0;
  position: relative;
  width: 160px !important;
  display: flex;
  box-sizing: border-box;
  margin-right: 25px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 40px !important;
  }
  span {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin-right: 20px !important;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 40px !important;
    }
  }
}

.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  .swiper-pagination-bullet-active {
    background: #2639ed;
    margin-left: 0 !important;
  }
}
.swiper-pagination {
  height: auto;
}
.mySwiperText {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}

//////

.mySwiperPhotos,
.mySwiperText {
  pointer-events: none;
}

.mySwiperPhotos .swiper-container {
  pointer-events: auto;
}
